@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To World Cuisine</h1>
    <p>Explore the taste of World class dishes.</p>
    <p>The dishes that will light up your cooking skills.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Want to learn how to make the world class mouth watering Pizza?
            Want to learn how to get the cheesy cream inside your cake's crust?
            You will get your questiones answered here. 
        </p>
    </div>
</div>